.input-group {
  width: 100%;
}

.input-dirty {
  background-color: AliceBlue;
}

/********** Lists **********/
.lists .panel-body .names span {
  margin-right: 10px;
  margin-left: 5px;
}
.lists .panel-body .ng-scope .input-group {
  margin-top: 10px;
}

.lists .panel-body .ng-scope:first-child .input-group {
  margin-top: 0px;
}

.lists .panel-body .ng-scope .input-group input {
  padding-left: 48px;
}

.lists .panel-body .ng-scope:last-child .input-group input {
  padding-left: 10px;
}

.lists .input-group .assignee {
  z-index: 2;
  position: absolute;
  left: 55px;
  top: 10px;
  width: 20px;
}

.lists .assignee-0, .mark-as-done-modal .assignee-0 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lists .assignee-1, .mark-as-done-modal .assignee-1 {
  color: SaddleBrown;
}

.lists .assignee-2, .mark-as-done-modal .assignee-2 {
  color: LightPink;
}


/********** Settings **********/
.settings .panel-body .input-group {
  margin-top: 10px;
}

.settings .panel-body .input-group:first-child {
  margin-top: 0px;
}

.sms-time-btn-group {
  margin: 10px 0 0 0;
}








