.input-group {
  width: 100%;
}

.input-dirty {
  background-color: AliceBlue;
}

#toast-container > div {
  width: 200px;
  padding-top: 22px;
  padding-bottom: 22px;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  font-family: FontAwesome;
  font-size: 20px;  
  line-height: 19px;
  position: relative;
  float: left;
  margin-left: -25px;
  margin-right: 0px;
} 

#toast-container > .toast-success:before {
  content: "\f0c7";
}

#toast-container > .toast-warning:before {
  content: "\f160";
}

#toast-container > .toast-wait:before {
  content: "\f0a2";
}

#toast-container > .toast-wait {
  background-color: brown;
}


/********** Lists **********/
.lists .navbar {
  background-color: #536267;
  border-color: #536267;
}

.lists .navbar .btn-group {
  float: right;
}

.lists .navbar .btn-group {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.lists .panel {
  margin-top: 60px;
}

.lists .panel-body .ng-scope .input-group {
  margin-top: 10px;
}

.lists .panel-body .ng-scope:first-child .input-group {
  margin-top: 0px;
}

.lists .panel-body .ng-scope .input-group input {
  margin-left: -1px;
  width: 100.5%;
}

.lists .assignee-0, .mark-as-done-modal .assignee-0, .send-sms-reminder-modal .assignee-0 {
  color: black;
}

.lists .assignee-1, .mark-as-done-modal .assignee-1, .send-sms-reminder-modal .assignee-1 {
  color: Peru;
}

.lists .assignee-2, .mark-as-done-modal .assignee-2, .send-sms-reminder-modal .assignee-2 {
  color: PaleVioletRed;
}


/********** Settings **********/
.settings .panel-body .input-group {
  margin-top: 10px;
}

.settings .panel-body .input-group:first-child {
  margin-top: 0px;
}

.sms-time-btn-group {
  margin: 10px 0 0 0;
}
