<div class="mark-as-done-modal">

  <div class="modal-body">  
    <div>Mark as done and archive?</div>
    <div ng-show="item.assignee!==0">
      Send SMS notification to {{item.assignee===1 ? bond.name2 : bond.name1}} at 
                               {{item.assignee===1 ? bond.phoneNumber2 : bond.phoneNumber1}}?</div>
    <p/>
    <div>
      <i class="fa fa-circle assignee"            
         ng-class="{0: 'assignee-0', 1: 'assignee-1', 2: 'assignee-2'}[item.assignee]"></i>
      {{item.description}}
    </div>
  </div>

  <div class="modal-footer">
    <button ng-show="item.assignee!==0"
            class="btn btn-sm btn-primary" ng-click="markAsDoneAndSaveItemsAndNotify()">Done + Notify</button>
    <button class="btn btn-sm btn-primary" ng-click="markAsDoneAndSaveItems()">Done</button>
    <button class="btn btn-sm btn-warning" ng-click="dismiss()">Cancel</button>
  </div>

</div>